.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 0, 0, 0.36);
  width: 88%;
  margin-left: 40px;
  border-radius: 30px;
  padding: 20px;
}

.friendContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  margin-top: -17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  margin-right: 20px;
  cursor: pointer;
}

.allFriends {
  border: 0.5px solid #e59740;
  border-radius: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  padding: 8px;
}

.addFriends {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #2cfffc;
  border-radius: 24px;
  width: 100%;
  text-align: center;
  padding: 8px;
}

.addIcon {
  width: 17px;
  height: auto;
  margin-left: 10px;
}

.restOfFriends {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  margin-top: 30px;
}
