.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #111820;
  height: 85px;
  z-index: 2;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu p:hover {
  color: #e59740;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.logo {
  height: 40px;
  margin-bottom: 2.5px;
  margin-left: 40px;
}

.searchIcon {
  height: 20px;
}

.settingsIcon,
.notificationIcon {
  margin-top: 5px;
  height: 24px;
  cursor: pointer;
}

.notificationIcon {
  margin-right: 10px;
}
