.titleTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45%;
}

.showLogo {
  width: 300px;
}

.space {
  height: 90px;
}

.titleTop button {
  font-family: din-2014, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111820;
  color: white;
  text-align: center;
  padding: 7px 40px;
  width: 200px;
  border-radius: 10px;
  z-index: 2;
}

.playButton {
  border: 2px solid #3ffefb;
  margin-top: 30px;
}

.watchlistButton {
  border: 2px solid #e59740;
  margin-top: 7px;
}

.episodeReviewContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 50%;
  width: 90%;
}

.episodesContainer {
  display: flex;
  flex-direction: column;
}

.episode {
  display: flex;
  flex-direction: row;
}

.episodeText {
  display: flex;
  flex-direction: column;
}

.reviewsContainer {
}

.reviews {
}
