.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  right: 0;
  border-left: 1px solid #e59740;
  background-color: #111820;
  z-index: 2;
}

.yourProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.profilePic {
  display: flex;
  overflow: hidden;
  object-fit: contain;
  border: 2px solid #3ffefb;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: all 0.1s ease-in-out;
}

.profilePicPrivate {
  display: flex;
  overflow: hidden;
  border: 2px solid #d3381e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: all 0.1s ease-in-out;
}

.status {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 60%;
  border: 1px solid #3ffefb;
  align-items: center;
  margin-bottom: 25px;
  font-family: din-2014, sans-serif;
  cursor: pointer;
  background-color: #111820;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.statusPrivate {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 60%;
  border: 1px solid #d3381e;
  align-items: center;
  margin-bottom: 20px;
  font-family: din-2014, sans-serif;
  cursor: pointer;
  background-color: #111820;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  position: relative;
  overflow: scroll;
  width: 100%;
}
