.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  flex-direction: row;
}

.logoBox {
  display: flex;
  border: 1px solid;
  border-color: #3ffefb;
  background-color: #0d0f14;
  border-radius: 14px;
  margin: 0 10px;
  width: 130px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.logoBoxInActive {
  display: flex;
  border: 1px solid;
  border-color: #d3381e;
  background-color: #0d0f14;
  border-radius: 14px;
  margin: 0 10px;
  width: 130px;
  height: 80px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.img {
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.img2 {
  width: 80px;
  transition: all 0.3s ease-in-out;
}

.img:hover,
.img2:hover {
  transform: scale(1.1);
}

