.container {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 290px;
  background-color: #0d0f14;
  border-radius: 24px;
  padding: 25px 20px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.subRow {
  display: flex;
  justify-content: center;
}

.subAddTotalRow {
  display: flex;
  justify-content: space-between;
}

.addSub {
  border: solid 0.5px #fbab29;
  border-radius: 50px;
  padding: 7px 40px;
  margin-left: 8px;
}

.totalPrice {
  margin-right: 30px;
}

.smallerText {
  font-weight: 100;
  font-size: 11px;
  margin-top: 3px;
  text-align: right;
}
