.container {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 210px;
  background-color: #0d0f14;
  border-radius: 24px;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 40px;
}

.timeRow {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.timeRow2 {
  display: flex;
  margin-top: 40px;
  align-items: center;
  margin-left: 28px;
}

.subLogo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.subLogo2 {
  width: 45px;
  height: 45px;
  background-color: #1e2162;
  border-radius: 50%;
}

.text {
  margin-left: 10px;
  margin-right: 55px;
  line-height: 1.3;
}
